과제 1

- **목표**: 지난 4주간 학습한 내용을 반복 실습하여 몸에 익히기
- **제출 파일**: 이 노트북(`.ipynb`)에 직접 풀이 작성 후 사이버캠퍼스에 .ipynb 파일을 제출할 것
- **유의사항**
  - 출력이 필요한 문제는 `print()`로 확인하세요.
  - 함수 문제는 **반드시 함수 정의부에 코드를 작성**하세요.
  - 문제에서 명시하지 않으면 외부 라이브러리 사용 금지(표준 라이브러리만 허용).

### 문제 1
`replace_first(lst, value)` 라는 형태의 함수가 있습니다. 이 함수는 list 타입의 변수인 lst와 임의의 값을 가진 변수인 value 를 인자로 받아서 `lst[0]`을 `value`로 함수 내에서 바꾸는 역할을 합니다. 이 함수 `replace_first(lst, value)`를 작성하세요. **호출자의 리스트가 실제로 바뀌는지** 보여주세요.

In [1]:
# Problem 1
# Write your code below.
def replace_first(lst, value):
  lst[0] = value

my_list = [10, 20, 30]
print(f"함수 호출 전: {my_list}")

replace_first(my_list, 999)

print(f"함수 호출 후: {my_list}")

함수 호출 전: [10, 20, 30]
함수 호출 후: [999, 20, 30]

### 문제 2
위와 비슷한 함수인 `replace_first_immutable(tpl, value)`가 있습니다. 이 함수는 tuple 타입의 변수인 tpl과 임의의 값을 가진 value 를 인자로 받아서, 첫 원소가 `value`인 **새로운 튜플**을 반환합니다. 이 함수 `replace_first_immutable(tpl, value)`를 작성하세요. (tuple 자료형인 `tpl`은 변경할 수 없으므로 새로운 튜플을 만들어 반환하는 것입니다.)

In [2]:
# Problem 2
# Write your code below.
def replace_first_immutable(tpl, value):
  temp_list = list(tpl)

  temp_list[0] = value

  return tuple(temp_list)

my_tuple = (10, 20, 30)
print(f"함수 호출 전 원본: {my_tuple}")
print(f"함수 호출 전 id: {id(my_tuple)}")

print("-" * 30)

new_tuple = replace_first_immutable(my_tuple, 999)

print(f"함수 호출 후 원본: {my_tuple}")
print(f"함수가 반환한 값: {new_tuple}")
print(f"함수 호출 후 id: {id(my_tuple)}")
print(f"반환된 튜플의 id: {id(new_tuple)}")

함수 호출 전 원본: (10, 20, 30)
함수 호출 전 id: 134926842181120
------------------------------
함수 호출 후 원본: (10, 20, 30)
함수가 반환한 값: (999, 20, 30)
함수 호출 후 id: 134926842181120
반환된 튜플의 id: 134926842299392

### 문제 3
입력된 숫자를 **두 배**로 만드는 람다 함수를 만들고 테스트하세요.

In [7]:
# Problem 3
# Write your code below.
for i in range(1, 11):
    print((lambda x: x ** 2)(i))

1
4
9
16
25
36
49
64
81
100

### 문제 4
`dict.get`을 사용해 `safe_get()`를 구현하세요. `safe_get()` 함수는 `d, key, default` 변수를 매개변수로 사용합니다. `d` 변수는 dictionary, `key` 변수는 찾고 싶은 key, `default` 변수는 `key`가 `d`에 존재하지 않을 때 반환할 값입니다. 단, `safe_get()`함수를 호출 할 때 `dafault`에 인자를 줄 수도 있고 주지 않을 수도 있습니다. 예를 들어, 다음과 같은 결과가 나와야 합니다.

d = {'a': 1}  
print(safe_get(d, 'a'))  
print(safe_get(d, 'missing'))  
print(safe_get(d, 'missing', 0))

==>

1  
None  
0

In [8]:
# Problem 4
# Write your code below.
def safe_get(d, key, default=None):
  return d.get(key, default)

d = {'a': 1}

print(safe_get(d, 'a'))

print(safe_get(d, 'missing'))

print(safe_get(d, 'missing', 0))

1
None
0

### 문제 5
리스트 컴프리헨션을 사용하여, `text` 라는 변수에 저장된 문자열에서 모음 (a,e,i,o,u) 만 골라 리스트로 만드는 프로그램을 코딩하세요. (힌트: 문자열 안의 모든 알파벳 ch 에 대해 if ch in "aeiouAEIOU" 를 검사하세요.)

예: text="Big Apple"  
==> 결과: ['i', 'A', 'e']

In [9]:
# Problem 5
# Write your code below.
text = "Big Apple"

vowels = [ch for ch in text if ch in "aeiouAEIOU"]

print(vowels)

['i', 'A', 'e']

### 문제 6
일반 `dict`와 `get`을 사용해 `['apple','apple','banana','cherry','banana','apple']`의 단어별 빈도수를 세고 그 결과를 딕셔너리 출력하세요.

In [10]:
# Problem 6
# Write your code below.
words = ['apple', 'apple', 'banana', 'cherry', 'banana', 'apple']

counts = {}

for word in words:
  counts[word] = counts.get(word, 0) + 1

print(counts)

{'apple': 3, 'banana': 2, 'cherry': 1}

### 문제 7
`collections.defaultdict(int)`로 **문제 6을 다시 구현**하고 딕셔너리를 출력하세요.

In [11]:
# Problem 7
# Write your code below.
from collections import defaultdict

words = ['apple', 'apple', 'banana', 'cherry', 'banana', 'apple']

counts = defaultdict(int)

for word in words:
  counts[word] += 1

print(counts)

defaultdict(<class 'int'>, {'apple': 3, 'banana': 2, 'cherry': 1})

### 문제 8
`collections.Counter`로 **문제 6을 다시 구현**하고 Counter를 출력하세요.

In [12]:
# Problem 8
# Write your code below.
from collections import Counter

words = ['apple', 'apple', 'banana', 'cherry', 'banana', 'apple']

counts = Counter(words)

print(counts)

Counter({'apple': 3, 'banana': 2, 'cherry': 1})
[('apple', 3), ('banana', 2)]

### 문제 9
문제 8의 Counter에서 `most_common(2)`로 **가장 많이 나온 두 항목**을 출력하세요.

In [13]:
# Problem 9
# Write your code below.
from collections import Counter

words = ['apple', 'apple', 'banana', 'cherry', 'banana', 'apple']

counts = Counter(words)

print(counts.most_common(2))

[('apple', 3), ('banana', 2)]

### 문제 10
두 Counter, `Counter('aab')`와 `Counter('bcc')`를 `+`연산자로 **합쳐서** 나오는 결과 Counter를 출력하고 그 결과를 확인해보세요.

In [14]:
# Problem 10
# Write your code below.
from collections import Counter

c1 = Counter('aab')
c2 = Counter('bcc')

result = c1 + c2

print(f"c1: {c1}")
print(f"c2: {c2}")
print(f"c1 + c2: {result}")

c1: Counter({'a': 2, 'b': 1})
c2: Counter({'c': 2, 'b': 1})
c1 + c2: Counter({'a': 2, 'b': 2, 'c': 2})

### 문제 11
[1,2,3]과 `['a','b','c']`를 `zip`으로 묶어 **튜플 리스트**로 만들고 출력하세요.

In [15]:
# Problem 11
# Write your code below.
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

zipped_list = list(zip(numbers, letters))

print(zipped_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

### 문제 12
문제 11에서 만든 튜플 리스트를 `*` 연산자로 **언패킹**하여 두 리스트로 되돌리고, 두 리스트를 출력하세요. zip 된 리스트가 lst 일 때, x,y=zip(*lst)문법을 사용하면 됩니다.

In [16]:
# Problem 12
# Write your code below.
zipped_list = [(1, 'a'), (2, 'b'), (3, 'c')]

numbers, letters = zip(*zipped_list)

print(numbers)
print(letters)

(1, 2, 3)
('a', 'b', 'c')

### 문제 13
`enumerate`를 사용해 `['x','y','z']`에 대해 **인덱스:값** 딕셔너리를 만들고 출력하세요.

In [17]:
# Problem 13
# Write your code below.
letters = ['x', 'y', 'z']

index_value_dict = dict(enumerate(letters))

print(index_value_dict)

{0: 'x', 1: 'y', 2: 'z'}

### 문제 14
`keys=['name','age']`, `values=['Ada',36]`로 `zip`과 `dict()`를 이용해 **딕셔너리를 생성**하고 출력하세요. 결과: {'name': 'Ada', 'age': 36} (힌트: zip 클래스를 dict 클래스로 변환해 보세요.)

In [18]:
# Problem 14
# Write your code below.
keys = ['name', 'age']
values = ['Ada', 36]

result_dict = dict(zip(keys, values))

print(result_dict)

{'name': 'Ada', 'age': 36}

### 문제 15
쌍의 **두 번째 원소 기준**으로 정렬하세요. `data=[[1,3],[2,1],[3,2]]` → `[[2,1],[3,2],[1,3]]`이 되도록 하세요. (힌트: lambda 함수 사용)

In [19]:
# Problem 15
# Write your code below.
data = [[1, 3], [2, 1], [3, 2]]

sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[[2, 1], [3, 2], [1, 3]]

### 문제 16
`words=['apple','kiwi','plum']`에서 **'a' 문자를 포함하는 단어**가 하나라도 있는지 `any`로 검사하고 결과를 출력하세요.

In [20]:
# Problem 16
# Write your code below.
words = ['apple', 'kiwi', 'plum']

result = any('a' in word for word in words)

print(result)

True

### 문제 17 (난이도 상)
`zip`과 `enumerate`를 함께 사용하여 `['a','b','c']`의 각 원소를 그 **인덱스** 및 `[10,20,30]`의 원소와 짝지어 `[('a',0,10), ...]` 형태를 만드세요.

In [21]:
# Problem 17
# Write your code below.
letters = ['a', 'b', 'c']
numbers = [10, 20, 30]

result = [(value, index, number) for (index, value), number in zip(enumerate(letters), numbers)]

print(result)

[('a', 0, 10), ('b', 1, 20), ('c', 2, 30)]